.VideoWorkspace {
  height: 100%;
  display: flex;
  flex-direction: column;

  & > .loader {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & > .main {
    height: calc(100% - 40px);
    display: flex;

    & > .tabs {
      width: 16rem;
      min-width: 16rem;
      height: 100%;
      display: flex;
      flex-direction: column;

      & > .title {
        height: 3rem;
        min-height: 3rem;
        text-align: center;
        background-color: #1261A0;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & > .tab {
        height: 3.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover,
        &.active {
          background-color: #bdbdbd;
        }
      }

      & > .add-container {
        height: 3.6rem;
        margin-top: auto;

        & > button {
          cursor: pointer;
          height: 100%;
          width: 100%;
          position: relative;
          font-size: 110%;
          border: none;
          background-color: #1261A0;
          color: #fff;
        }

        & > .hidden {
          visibility: hidden;
          position: relative;
          border: 1px solid #bdbdbd;
          height: 3.6rem;
          bottom: 3.6rem;
          left: 16rem;
          display: flex;
          align-items: center;

          &.active {
            visibility: visible;
            background-color: #fff;
          }

          & > input {
            width: 80%;
            height: 30px;
            font-size: 120%;
            padding-left: .4rem;
            margin-left: .4rem;
          }

          & > button {
            height: 30px;
            width: 30px;
            cursor: pointer;
          }
        }
      }
    }

    & > .videos-list {
      width: 100%;
      display: flex;
      flex-direction: column;

      & > .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #1261A0;
        color: #fff;
        height: 3rem;
        min-height: 3rem;

        & > .left {
          display: flex;
          align-items: center;

          & > .add,
          & > .edit {
            margin-right: 1rem;
            margin-left: 1rem;
            cursor: pointer;

            & > svg {
              height: 1.6rem;
              width: 1.6rem;
              display: block;
              margin: auto;
            }

            // &:hover {
            //   text-decoration: underline;
            // }
          }
        }

        & > .name {

        }

        & > .delete {
          margin-right: 1rem;
          cursor: pointer;

          & > svg {
            height: 1.6rem;
            width: 1.6rem;
          }
        }
      }

      & > .list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;  

        & > .empty {
          position: relative;
          top: 50%;
          left: 50%;
        }
      }
    }
  }
}