.VideoWorkspace {
  height: 100%;
  display: flex;
  flex-direction: column;

  & > .main {
    height: 100%;

    & > .tabs {
      width: 16rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      border-right: 1px solid #bdbdbd;

      & > .title {
        padding: 1rem 2rem;
        border-bottom: 1px solid #bdbdbd;
        text-align: center;
      }

      & > .tab {
        height: 3.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
          background-color: #bdbdbd;
        }
      }

      & > .add-container {
        height: 3.6rem;

        & > button {
          cursor: pointer;
          height: 100%;
          width: 100%;
          position: relative;
        }

        & > .hidden {
          visibility: hidden;
          position: relative;
          border: 1px solid #bdbdbd;
          height: 3.6rem;
          bottom: 3.6rem;
          left: 16rem;
          display: flex;
          align-items: center;

          &.active {
            visibility: visible;
          }

          & > input {
            width: 80%;
            height: 30px;
            font-size: 120%;
            padding-left: .4rem;
            margin-left: .4rem;
          }

          & > button {
            height: 30px;
            width: 30px;
            cursor: pointer;
          }
        }
      }
    }

    & > .videos-list {
      
    }
  }
}