.AddVideoCard {
  width: 25%;
  min-width: 20rem;
  height: 30rem;
  border: 1px solid #bdbdbd;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > svg {
    height: 120px;
    width: 120px;
    fill: #bdbdbd;
    cursor: pointer;
  }
}