.ListPage {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > h2 {
    margin: 2rem 0;
  }

  & > .video-container {
    width: 80%;
    display: flex;

    & > .video {
      margin: 2rem;
      width: 640px;
      height: 360px;
      box-shadow: var(--default-box-shadow); 
    }

    & > .text-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin: 1rem 2rem;
      padding: 1rem;

      & > .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        & > .right {
          & > svg {
            cursor: pointer;
            position: relative;
          }
  
          & > .hidden-options {
            position: absolute;
            width: 100px;
            transform: translate(-84px, 0px);
            background-color: white;
            overflow: hidden;
            display: none;
            box-shadow: var(--default-box-shadow);

            &.visible {
              display: block;
            }
    
            & > .options {
              height: 100%;
              width: 100%;
              display: flex;
              flex-direction: column;
    
              & > .option {
                padding: .4rem 1.4rem;
                cursor: pointer;

                &:hover {
                  background-color: #d3d3d3;
                }
              }
            }
          }          
        }
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    & > .video-container {
      width: 100%;
      
      & > .video {
        margin: .5rem;
        width: 426px;
        height: 240px;
      }
    }
  }

  @media only screen and (max-width: 680px) {
    & > .video-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      & > .video {
        // width: 90%;
        margin: .4rem 0.4rem;
        width: 90%;
        height: 56vw;
      }

      & > .text-container {
        width: 90%;
      }
    }
  }
}