.ListPage {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > h2 {
    margin-bottom: 2rem;
  }

  & > .video-container {
    width: 80%;
    display: flex;

    & > .video {
      margin: 2rem;
      width: 640px;
      height: 360px; 
    }

    & > .text-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin: 2rem;
      padding: 1rem;
    }
  }

  @media only screen and (max-width: 1200px) {
    & > .video-container {
      width: 100%;
      
      & > .video {
        margin: .5rem;
        width: 426px;
        height: 240px;
      }
    }
  }
}