.Card {
  width: 19rem;
  height: 16.5rem;
  margin: .5rem;

  & > .video {
    width: 100%;
    height: 10.5rem;
    background-color: #CCCCCC;
  }

  & > .description {
    display: flex;
    flex-direction: column;
    padding: .5rem;
  }
}