.VideoCard {
  width: 25%;
  min-width: 20rem;
  height: 30rem;
  border-right: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  
  & > .video {
    height: 14rem;
    background-color: #bdbdbd;
    margin-bottom: 1rem;

    & > div:first-child {
      height: 100%;
      width: 100%;

      & > iframe {
        height: 100%;
        width: 100%;
      }
    }
  }

  & > .description {
    flex: 1;
    display: flex;
    flex-direction: column;
    // align-items: center;

    & > .favorite {
      width: 100%;
    }
  }
}