.SignUp {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;

  & > .header {
    margin: 1rem;

    & > .title {
      color: #1261A0;
      font-size: 160%;
      font-weight: 600;
    }

    & > .description {
      color: grey;
    }
  }

  & > .form {
    display: flex;
    flex-direction: column;
  }

  & > .button-container {
    margin: 1rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    & > button {
      background-color: #1261A0;
      color: #fff;
      height: 3rem;
      width: 12rem;
      font-size: 120%;
      cursor: pointer;
    }
  }
}