.SignUp {
  display: flex;
  flex-direction: column;
  width: 100%;

  & > .header {
    width: 100%;
    flex: 1;
    margin: 2rem;

    & > .title {
      color: #1261A0;
      font-size: 160%;
      font-weight: 600;
    }

    & > .description {
      color: grey;
    }
  }

  & > .form {
    flex: 6;
    display: flex;
    flex-direction: column;
    margin: 2rem;

    & > .email,
    & > .password,
    & > .confirm-password {
      & > .title {
        margin-bottom: 1rem;
      }

      & > input {
        width: 80%;
        height: 30px;
        font-size: 120%;
        padding-left: .4rem;
        margin-bottom: .4rem;
      }

      & > .error {
        margin-bottom: 1rem;
        color: #FF1919;
        height: 20px;
      }
    }

    // & > .password {
    //   & > .title {
    //     margin-bottom: 1rem;
    //   }

    //   & > input {
    //     width: 80%;
    //     height: 30px;
    //     font-size: 120%;
    //     padding-left: .4rem;
    //     margin-bottom: .4rem;
    //   }

    //   & > .error {
    //     color: #FF1919;
    //     margin-bottom: 3rem;
    //     height: 20px;
    //   }
    // }
  }

  & > .button-container {
    flex: 1;
    margin: 2rem;

    & > button {
      border: none;
      height: 2.8rem;
      width: 12rem;
      background-color: #1261A0;
      color: #fff;
      cursor: pointer;
    }
  }
}