.VideoPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  // & > .loader {
  //   height: 100%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  & > .main {
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;

    & > .video {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 1280px;
      height: 720px;

      & > .title {
        text-align: center;
        margin: 1rem 0;
      }

      & > div {
        margin: 0 auto;
      }
    }

    & > .details {
      height: 20%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem 0 4rem 0;

      & > .userName,
      & > .description {
        margin: .4rem 0;
        width: 80%;
      }

      & > .comments {
        margin: .4rem 0;
        width: 80%;

        & > .comment {
          margin: 0 0 .5rem 1rem;

          &:hover {
            & > .settings {
              & > .edit,
              & > .delete,
              & > .cancel {
                visibility: visible;
              }
            }
          }

          & > .body-user {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & > .user {
              color: grey;
              margin-left: .4rem;
            }

            & > textarea {
              width: 100%;
              display: flex;
              align-items: center;
              margin: auto;
              padding: .4rem;
            }
          }

          & > .settings {
            display: flex;
            align-items: center;

            & > .edit,
            & > .delete,
            & > .cancel {
              margin-left: .6rem;
              cursor: pointer;
              color: grey;
              visibility: hidden;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      & > .addComment {
        min-height: 8rem;
        width: 80%;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;

        & > textarea {
          height: 60%;
          width: 100%;
          font-size: 1rem;
          margin: .4rem 0;
          padding: .4rem;
        }

        & > button {
          height: 2rem;
          font-size: 1rem;
        }
      }
    }
  }
}