.AuthPage {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #718aab;

  & > .container {
    box-shadow: 4px 4px 2px 1px rgba(0,0,0,0.55);
    background-color: #fff;
    display: flex;

    height: 800px;
    width: 600px;
    flex-direction: column;

    & > .logo-container {
      background-color: #1261A0;
      height: 80px;
      min-height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      & > .title {
        font-size: 200%;
        color: #fff;
      }
    }

    & > .forms-container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}