.Tab {
  height: 100vh;
  width: 15rem;

  & > .tabs {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    & > .tab {
      height: 2.5rem;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 1.5rem;

      &:hover {
        background-color: #CCCCCC;
      // #CCCCCC
      // #AAAAAA
      // #909090
      // #717171
      // #606060
      }

      & > svg {
        margin-right: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
      }

      & > p {
        font-size: 1.2rem;
      }
    }
  }
}