.Tab {
  min-width: 15rem;
  height: 2.5rem;
  display: flex;
  align-items: center;

  &.active {
    background-color: #CCCCCC;
  }

  & > .row {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    & > .icon {
      height: 1.6rem;
      width: 1.6rem;
      margin-left: 1.5rem;

      & > svg {
        height: 100%;
        width: 100%;
      } 
    }

    & > .label {
      margin-left: 1.5rem;
      font-size: 110%;
      margin-right: 0.5rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &:hover {
    background-color: #CCCCCC;
  }
}