.Login {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;

  & > .header {
    width: 100%;
    margin: 1rem;

    & > .title {
      color: #1261A0;
      font-size: 160%;
      font-weight: 600;
    }

    & > .description {
      color: grey;
    }
  }

  & > .form {
    display: flex;
    flex-direction: column;
  }
}